<article class="campus">
    <p class="campus-location"><a href="https://www.dbz.be">campus Zwijnaarde</a></p>
    <h1 class="campus-header">Don Bosco Zwijnaarde <span>DBZ</span></h1>
    <p class="campus-baseline"><span>School met zin</span></p>

    <div class="campus-middle">
        <a href="http://www.dbz.be">
            <figure class="campus-logo">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="90px" height="90px" viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve">
                    <path class="dbzlogo" d="M0,0v60h60V0H0z M23,44v2h-2h-4h-2v-2v-7h2v7h4V21h2V44z M44,42v2h-6h-2l1.7-16H34v12v2h-2h-4h-2v-2 V14h2v26h4V28v-2h2h6l-0.058,0.047l-0.046-0.005l-1.875,15.895L42,41.982V34h2V42z"></path>
                </svg>
            </figure>
        </a>

        <address>
            <ul class="campus-address">
                <li>Grotesteenweg-Noord 113</li>
                <li>9052 Zwijnaarde</li>
                <li>Gent (Belgi&euml;)</li>
                <li>t <span itemprop="telephone"><a href="tel:+3292214648">+32 (0) 9 221 46 48</a></span></li>
                <li>e <a href="mailto:info@dbz.be">info@dbz.be</a></li>
                <li><a href="http://www.dbz.be">www.dbz.be</a></li>
            </ul>
        </address>
    </div>

    <div class="campus-info">
        <p>
            We zijn een enthousiaste school met <strong>een eigen eerste graad (A-stroom)</strong> en tal van <strong>domeinoverschrijdende doorstroomrichtingen (ASO)</strong> vanaf de tweede graad. We gaan op een <strong>zorgzame manier om met jongeren</strong> en hebben aandacht voor <strong>dialoog</strong> met alle betrokkenen.<br>
            We geloven dat goed onderwijs meer is dan <strong>kennisoverdracht</strong> &mdash; het gaat ook om <strong>menswording, (maatschappelijke) verbondenheid</strong> en <strong>kritisch denken</strong>. We geloven in de pedagogische waarde van spel en vreugde, via het <strong>middagspel</strong>, parascolaire activiteiten, vakantieactiviteiten en internationale uitwisselingen. Ons <strong>open en groen schooldomein</strong> biedt hierbij tal van mogelijkheden.<br>
            Via een <strong>permanent evaluatiesysteem</strong> en een geleidelijke opbouw van de verwerking van grotere leerstofgehelen ondersteunen we de groeikansen van onze leerlingen in het leren leren.
        </p>
    </div>
</article>
