<article class="campus">
    <p class="campus-location"><a href="https://www.dbsp.gent">campus Sint-Pieters</a></p>
    <h1 class="campus-header">Don Bosco Sint-Pieters</h1>
    <p class="campus-baseline"><span>Wijs in Gent</span></p>

    <div class="campus-middle">
        <a href="https://www.dbsp.gent">
            <figure class="campus-logo">
                <img src="{{ url_for('static', filename='images/DBSP_logo-square.png') }}" alt="Don Bosco Sint-Pieters logo">
            </figure>
        </a>

        <address>
            <ul class="campus-address">
                <li>Koning Albertlaan 70, 9000 Gent</li>
                <li>Onthaal/inkom:<br>Meersstraat 131C, 9000 Gent</li>
                <li>t <span itemprop="telephone"><a href="tel:+3292221452">+32 (0) 9 222 14 52</a></span></li>
                <li>e <a href="mailto:info@dbsp.gent">info@dbsp.gent</a></li>
                <li><a href="https://www.dbsp.gent">www.dbsp.gent</a></li>
            </ul>
        </address>
    </div>

    <div class="campus-info">
        <p>
            Wij zijn een <strong>domeinoverschrijdende doorstroomschool</strong>. We gaan voor <strong>groei door uitdaging, met passie en in verbondenheid</strong>.<br>
            We bieden richtingen aan met een bijzondere focus op economie, humane wetenschappen, klassieke talen, moderne talen, wetenschappen en wiskunde. We besteden veel aandacht aan zorg en het cre&euml;ren van een aangename en respectvolle leefomgeving. We zetten in op internationale uitwisseling en bieden een uitgebreide waaier van middagactiviteiten, sporten en culturele activiteiten aan.
        </p>
    </div>
</article>
