<!DOCTYPE html>
<html lang="en">
<head>                  <!--style sheet voor juiste pagina toevoegen.-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Don Bosco School</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block page_css %}{% endblock %}
</head>
<body>
    <header>                        <!--donbosco logo toevoegen vanboven op de website.-->
        <a href="/" class="brand">
            <img src="{{ url_for('static', filename='images/donbosco_logo.png') }}" alt="Don Bosco Logo" class="logo">
            <div class="brand-text">
                <div class="site-title">Don Bosco</div>
            </div>
        </a>
                    <!--voor burger menu zodat er een icoon komt te staan.-->
        <div class="burger-menu" id="burgerMenu">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <nav id="navMenu">          <!-- navigatie menu met dropdowns voor bassisschool.-->
            <ul>
                <li><a href="/">Home</a></li>
                <li class="dropdown">
                    <a> Basisschool &#9662;</a>
                    <ul class="dropdown-menu">
                        <li><a href="/basisschool/school1">School 1</a></li>
                        <li><a href="/basisschool/school2">School 2</a></li>
                        <li><a href="/basisschool/school3">School 3</a></li>
                        <li><a href="/basisschool/school4">School 4</a></li>
                        <li><a href="/basisschool/school5">School 5</a></li>
                    </ul>
                </li>
                            <!--navigatie menu met dropdowns voor secundair onderwijs.-->
                <li class="dropdown">
                    <a> Secundair &#9662;</a>
                    <ul class="dropdown-menu">
                        <li><a href="/secundair/school1">School 1</a></li>
                        <li><a href="/secundair/school2">School 2</a></li>
                        <li><a href="/secundair/school3">School 3</a></li>
                    </ul>
                </li>

                <!--navigatie menu voor persberichten.-->
                <li><a href="/persbericht">Persbericht</a></li>
            </ul>
        </nav>
    </header>

    {% block intro %}{% endblock %}

    <main>
        {% block content %}{% endblock %}
    </main>
                <!--basis js bestand toevoegen voor burger menu en drowdown menu functionaliteit, en mogelijkheid om pagina specifieke js toe te voegen.-->
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    {% block page_js %}{% endblock %}
</body>
</html>
